*.exe
*.bpl
*.dcu
*.dcp
*.local
*.stat
*.skincfg
*.map
*.identcache
*.dsk
*.rsm
*.~*
*.drc
*.tvsconfig
__history
__recovery
*.mo
*.po
*.res
out/Backups/*
components/SynEdit-2_0_8.zip
components/SynEdit-2_0_7.zip
components/SynEdit-2_0_6.zip
